<%% @list.entries.each do |e| %>

  <p>
    <% list_columns.each do |c| %>
      <b><%= c %></b>: <%%= e.<%= target_model.underscore %>.attributes['<%= c %>'] %>,
    <% end %>
     --- <%%= link_to "details", e %>
  </p>
  
<%% end %>